/* styles.css */
body {
    background-image: url("https://cdn.pixabay.com/photo/2020/01/23/20/57/berlin-4788732_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main_content {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}

#welcome {
    color: #ffffff;
}

.slogan{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-box {
    margin-top: 20px;
}
input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #377fbc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}





.white-section {
    background-color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 4px 10px #163767;
    display: block; 
    clear: both;
}