/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #163767;
}
.container {
    text-align: center;
}
h1 {
    color: #ffffff;
}

.slogan{
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-box {
    margin-top: 20px;
}
input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #377fbc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
